// import the CSS framework
@import "foundation";

.serieslist { width: 100%; }

// --------------------------------
// ---------- TABELLE -------------
// --------------------------------

// Tabellenkopf 
table thead tr th, thead tr td {
  background: gray; 
  padding: 0.5rem 0.625rem 0.625rem;
  font-size: 0.875rem;
  font-weight: bold;
  color: white;
  border: none; 
}

table {
  border: none; 
}

table tr th, tr td {
  border-bottom: solid 1px #dddddd; 
  margin: 20px;
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: white; 
}


// --------------------------------
// ---------- KALENDER ------------
// --------------------------------

// Komplette Tabelle
.calendar { 
  width: 100%; 
  border: none;
}
 
// Tabellenkopf 
.calendar thead tr th, thead tr td {
  background: #008cba; 
  padding: 0.5rem 0.625rem 0.625rem;
  font-size: 0.875rem;
  font-weight: bold;
  color: white;
  border: none; 
}
    
// Ein Tag
.calendar td { 
  width: 14.28%; 
  border: 1px solid lightgray;
  color: white;
}

// Ein Tag
.calendar tr th, .calendar tr td {
  padding: 0 0;
  margin: 0;
  color: black;
  vertical-align: top;
}

// Tag bei Episodeneinträgen
.calendar-day {
  background: lightgray;
  padding-left: 5px;
  color: black;
  width: 100%;
}

// Episodeneinträge
.calendar-episode {
  margin-left: 5px;
  font-size: 10px;
  color: black;
}

// Linie zwischen den Episodeneinträgen
hr {
  margin: 0 0;
  border-color: lightgray;
  background-color: lightgray;
  color: lightgray;
}

// Nächster und vorheriger Monat
.next-month .calendar-day, .prev-month .calendar-day {
  background: #E5E5E5;
  color: #D0D0D0
}

.next-month .calendar-episode, .prev-month .calendar-episode {
  color: #D0D0D0
}

// Heutiger Tag
.calendar .today {  
  color: white;
  background: #73C0D9;
  border: 1px solid #008cba;
}

.today .calendar-day {
  color: white;
  background: #008cba;
}

.today .calendar-episode {
  color: white;
}

// Linie zwischen den heutigen Episodeneinträgen
.today hr {
  border-color: #008cba;;
  background-color: #008cba;
  color: #008cba;
}

// --------------------------------
// ---------- NAVIGATIONSLEISTE ---
// --------------------------------

.top-bar {
  height: 70px;
  line-height: 70px;
  background: #333333;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  line-height: 70px;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
  line-height: 70px;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background: #008cba; 
}
.top-bar-section ul li:hover:not(.has-form) > a {
      background: #008cba;
      color: white; }

.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
  height: 70px;
}

.top-bar-section ul li.active > a {
  background: #008cba;
  color: white; 
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  background: #008cba; 
}

// override for the 'Home' navigation link
.top-bar .name {
  font-size: rem-calc(13);
  height: 70px;
  line-height: 70px; 
}
  
.top-bar .name a {
  font-weight: normal;
  color: white;
  padding: 0 15px; 
}
  
// --------------------------------
// ---------- SCHRIFTARTEN --------
// --------------------------------

body {
  font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
button, .button  {
  font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
.top-bar-section ul li > a {
  font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}


// --------------------------------
// ---------- SONSTIGES -----------
// --------------------------------
.page-header {
  background: #008cba;
  margin: 0 -20px 20px -20px;
}

.page-header h1, .page-header small {
  color: white;
  height: 70px;
  line-height: 70px;
}

.alert-box {
  margin-top: -20px;
}




// THESE ARE EXAMPLES YOU CAN MODIFY
// create mixins using Foundation classes
@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }
@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
  }
// create your own classes
// to make views framework-neutral
.column {
  @include six-columns-centered;
  }
.form {
  @include grid-column(6);
  }
.form-centered {
  @include six-columns-centered;
  }
.submit {
  @extend .button;
  @extend .radius;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @include twelve-columns;
//  background-color: #eee;
  }
section {
  @extend .row;
  margin-top: 20px;
  }
